body, html{
    background-image: url('light.png');
    height: 90%;
    
}

img{
   /* margin-left: 200px; */
    position: absolute;
    transition: visibility 2s linear;
}

.greet{
    background-image: url('lightcrop.png');
}

.emote{
    background-image: url('lightcrop.png');

}
#tinky{
    background-image: url('lightcrop.png');
}



#lemon{
    margin-top: 10%;
    position: absolute;
}

#kale{
    margin-top: 20%;
    position: absolute;
}

#banana{
    margin-top: 30%;
    position: absolute;
}

#tomato{
    margin-top: 40%;
    position: absolute;
}

#leaf{
    margin-top: 50%;
}

#flower{
    margin-top: 60%;
}

.food{
    margin-left: 700px;
}


#fish{margin-top: 10%;}

#apple{margin-top: 20%;}

#egg{margin-top: 30%;}

#onigiri{margin-top: 39%;}

#orange{margin-top: 50%;}

#pear{margin-top: 60%;}



@media screen and (max-width: 1242px) {
   
   
   img{
       position: absolute;
       
   }
    .greet{
        width: 100%;
        height: auto
        position: absolute;
    }
    .emote{
        width: 90%;
        height: auto;
        margin-right: 20%;
    }
   
   #tinky{
       background-image: url('lightcrop.png');
       position: absolute;
       width: 90%;
       height: auto;
       margin-left: 0px;
        margin-right: 20%;
       
   }
   
   .food2{
       margin-left: 10%;
       height: 10%
           
   }
   .food{
       height: 10%;
       margin-left: 80%;
   }
   
}
